.AlbumInfo {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;  
}

.AlbumInfo a {
    text-decoration: none;
  }
  
  .AlbumInfo a:hover {
        text-decoration: underline;
  }

  .Artist a {
    color: #a0a0a0;
  }
  .Title a {
    color: #fff;
    font-weight: bold;
  }