
.AlbumImage {
    width: 100%;
    position: relative;
    /* z-index: -1; */
}

.AlbumImage img {
    width: 100%;
    height: auto;
  }

  .AlbumImage:hover img {
    opacity: 0.3;
    z-index: -5;
    /* position: relative; */
  }
  
 .AlbumImage svg {
     width: 30px;
     fill: white;
  }

  .Icons {
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
  }

  .Icons:hover {
      opacity: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      z-index: 3;
  }

  .Play {
      display: flex;
      justify-content: center;
  }

  .Play svg {
      width: 60px;
      height: 60px;
      align-self: center;

  }

  .Play svg:hover {
      width: 70px;
      height: 70px;
      transition: 0.2s;
  }
