
.AlbumImage {
    width: 100%;
    position: relative;
    /* z-index: -1; */
}

.AlbumImage img {
    width: 100%;
    height: auto;
  }

  .AlbumImage:hover {
    opacity: 0.3;
    /* position: relative; */
  }
  
 .AlbumImage svg {
     width: 30px;
     fill: white;
  }

  .Icons {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-evenly;
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
  }

  .Icons:hover {
      opacity: 1;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-evenly;
  }

  .Play {
      display: flex;
      justify-content: center;
  }

  .Play svg {
      width: 60px;
  }

  .Play svg:hover {
      width: 70px;
  }
