body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #181818;
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  color: white;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
}

.Album {
  display: flex;
  flex-direction: column;
  border: solid 2px green;
}

.Album img {
  position: relative;
  width: 250px;
  height: auto;
  /* z-index: -1; */
}

.Album img:hover {
  opacity: 0.3;
  width: 250px;
  height: auto;
}

.Album a {
  color: white;
  text-decoration: none;
}

.Album a:hover {
  color: white;
  text-decoration: underline;
}
.Icons img {
  position: absolute;
  width: 50px;
  float: left;
}